<div class="home-main-header">
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="What do you want to bark about?">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Bark</button>
      </span>
  </div><!-- /input-group -->
</div>

<div class="post-list">
  <div class="post" ng-repeat="post in vm.posts">
    {{post.Content}} {{post.DateMade | timeAgo}}

    <button class="btn btn-danger"
            id="delete-post-{{post.Id}}"
            ng-click="vm.deletePost(post.Id)">
      Delete
    </button>
  </div>
</div>
